@font-face {
  font-family: 'eight-bitIn';
  src: local(eight-bitIn), url(../ttf/8-bit-Arcade-In.ttf);
}

@font-face {
  font-family: 'eight-bitOut';
  src: local(eight-bitOut), url(../ttf/8-bit-Arcade-Out.ttf);
}

@font-face {
  font-family: 'minecraft';
  src: local(minecraft), url(../ttf/Minecraft.ttf);
}

@font-face {
  font-family: 'super-Mario-Bros';
  src: local(super-Mario-Bros), url(../ttf/Super-Mario-Bros.-2.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: auto;
}

@media screen and (min-width: 991px){
  .jogoEspaco {
  padding: 50px 50px;
  text-align: center;
  }
}

body {
  background-color: #202C4E;
  padding: 20px 50px;
}

.fliperama {
  width: 882px;
  height: auto;
  margin: 0 auto;
}

.marquee-retainers {
  background-color: #284A94;
  margin: 0 10px;
  padding: 18px 0;
}

.marquee-retainers .marquee {
  background-color: #1E49C4;
  width: 100%;
  height: 150px;
}

.marquee-retainers .t-molding-left {
  position: absolute;
  left: 60px;
  top: 10px;
  background-color: #1E1E1E;
  width: 30px;
  height: 202px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.marquee-retainers .t-molding-right {
  position: absolute;
  right: 60px;
  top: 10px;
  background-color: #1E1E1E;
  width: 30px;
  height: 202px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.speaker-panel {
  margin: 0 10px;

  border-top: 84px solid #1E346E;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

.speaker-panel .t-molding-left.left {
  position: absolute;
  top: 212px;
  left: 60px;

  border-top: 80px solid #1E1E1E;
  border-left: 30px solid transparent;
}
.speaker-panel .t-molding-left.right {
  position: absolute;
  top: 212px;
  left: 90px;

  border-right: 20px solid transparent;
  border-bottom: 80px solid #1E1E1E;
}

.speaker-panel .t-molding-right.left {
  position: absolute;
  top: 212px;
  right: 90px;

  border-left: 20px solid transparent;
  border-bottom: 80px solid #1E1E1E;
}
.speaker-panel .t-molding-right.right {
  position: absolute;
  top: 212px;
  right: 60px;

  border-top: 80px solid #1E1E1E;
  border-right: 30px solid transparent;
}

.monitor-bezel {
  width: 782px;
  padding: 40px 0 80px;
  background-color: #28418E;
  margin: 0 auto;
}

.monitor-bezel .monitor {
  background-color: #1C1C1C;
  width: 680px;
  height: 392px;
  padding: 14px 0;
  margin: 0 auto;
}

.monitor-bezel .monitor .jogoEspaco {
  text-align: center;
}

.monitor-bezel .t-molding-left.left {
  position: absolute;
  top: 290px;
  left: 60px;

  border-left: 30px solid transparent;
  border-bottom: 512px solid #1E1E1E;
}

.monitor-bezel .t-molding-left.right {
  position: absolute;
  top: 290px;
  left: 90px;

  border-top: 512px solid #1E1E1E;
  border-right: 20px solid #28418E;
}

.monitor-bezel .t-molding-right.left {
  position: absolute;
  top: 290px;
  right: 90px;

  border-top: 512px solid #1E1E1E;
  border-left: 20px solid #28418E;
}

.monitor-bezel .t-molding-right.right {
  position: absolute;
  top: 290px;
  right: 60px;

  border-right: 30px solid transparent;
  border-bottom: 512px solid #1E1E1E;
}


.bottom-bezel {
  margin: 0 auto;
  width: 830px;
  height: 30px;
  background-color: #1E4F9F;
}

.bottom-bezel .t-molding-left.left {
  position: absolute;
  top: 800px;
  left: 38px;

  border-left: 22px solid transparent;
  border-bottom: 32px solid #1E1E1E;
}

.bottom-bezel .t-molding-left.right {
  position: absolute;
  top: 800px;
  left: 60px;

  border-top: 32px solid #1E1E1E;
  border-left: 14px solid #1E1E1E;
  border-right: 16px solid #1E4F9F;
}

.bottom-bezel .t-molding-right.left {
  position: absolute;
  top: 800px;
  right: 60px;

  border-top: 32px solid #1E1E1E;
  border-right: 14px solid #1E1E1E;
  border-left: 16px solid #1E4F9F;
}

.bottom-bezel .t-molding-right.right {
  position: absolute;
  top: 800px;
  right: 38px;

  border-right: 22px solid transparent;
  border-bottom: 32px solid #1E1E1E;
}

.control-panel {
  margin: 0 10px;
  background-color: #3364B4;
  height: 164px; 
}

.control-panel .t-molding-left.left {
  position: absolute;
  top: 832px;
  left: 18px;

  border-left: 20px solid transparent;
  border-bottom: 170px solid #1E1E1E;
}

.control-panel .t-molding-left.right {
  position: absolute;
  top: 832px;
  left: 38px;

  border-top: 170px solid #1E1E1E;
  border-left: 24px solid #1E1E1E;
  border-right: 12px solid transparent;
}

.control-panel .t-molding-right.left {
  position: absolute;
  top: 832px;
  right: 38px;

  border-top: 170px solid #1E1E1E;
  border-right: 24px solid #1E1E1E;
  border-left: 12px solid transparent;
}

.control-panel .t-molding-right.right {
  position: absolute;
  top: 832px;
  right: 18px;

  border-right: 20px solid transparent;
  border-bottom: 170px solid #1E1E1E;
}


.bottom-control-panel {
  border-top: 70px solid #1E346E;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.bottom-control-panel .t-molding-left.left {
  position: absolute;
  top: 1002px;
  left: 18px;

  border-top: 72px solid #1E1E1E;
  border-left: 22px solid transparent;
}

.bottom-control-panel .t-molding-left.right {
  position: absolute;
  top: 1002px;
  left: 40px;
  border-left: 22px solid #1E1E1E;
  border-right: 12px solid transparent;
  border-bottom: 72px solid #1E1E1E;
}

.bottom-control-panel .t-molding-right.left {
  position: absolute;
  top: 1002px;
  right: 40px;
  border-right: 22px solid #1E1E1E;
  border-left: 12px solid transparent;
  border-bottom: 72px solid #1E1E1E;
}

.bottom-control-panel .t-molding-right.right {
  position: absolute;
  top: 1002px;
  right: 18px;

  border-top: 72px solid #1E1E1E;
  border-right: 22px solid transparent;
}

.fliperama-body {
  background-color: #234196;
  width: 744px;
  padding: 20px 40px 70px;
  margin: 0 auto;
}

.fliperama-body .description {
  width: 100%;
  padding: 10px 10px 20px;
  border-radius: 6px;
  background-color: #1B1B1B;
  margin: 0 auto;
}

/*
.marquee-retainers {
  background-color: #284A94;
  width: 920px;
  padding: 10px 0;
}

.marquee-retainers .t-molding-left {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 0;
  height: 0;
  border-top: 154px solid #141414;
  border-left: 48px solid #141414;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.marquee-retainers .t-molding-right {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 0;
  height: 0;
  border-top: 154px solid #141414;
  border-right: 48px solid #141414;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.marquee {
  background-color: #1E49C4;
  width: 100%;
  height: 120px;
}

.speaker-panel {
  width: 880px; 920 - 860
  margin: 0 auto;

  border-top: 50px solid #1E346E;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.speaker-panel .t-molding-left.left {
  position: absolute;
  top: 162px;
  left: 16px;
  width: 0;
  height: 0;
  border-top: 4px solid #141414;
  border-right: 38px solid #141414;
  border-bottom: 50px solid transparent;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.speaker-panel .t-molding-left.right {
  position: absolute;
    top: 132px;
    left: 53px;
    width: 0;
    height: 0;
    border-top: 84px solid transparent;
    border-left: 30px solid #141414;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.speaker-panel .t-molding-right.left {
  position: absolute;
  top: 162px;
  right: 16px;
  width: 0;
  height: 0;
  border-top: 4px solid #141414;
  border-left: 38px solid #141414;
  border-bottom: 50px solid transparent;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.speaker-panel .t-molding-right.right {
  position: absolute;
  top: 132px;
  right: 53px;
    width: 0;
    height: 0;
    border-top: 84px solid transparent;
    border-right: 30px solid #141414;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.monitor-bezel {
  width: 860px;
  height: 680px;
  padding-top: 60px;
  background-color: #28418E;
  margin: 0 auto;
}

.monitor-bezel .t-molding-left.left {}

.monitor-bezel .t-molding-left.right {}

.monitor-bezel .t-molding-right.left {}

.monitor-bezel .t-molding-right.right {}

.monitor {
  width: 760px;
  height: 540px;
  background-color: #1C1C1C;
  padding: 0 20px;
  margin: 0 auto;
}

.jogoEspaco {
  padding: 2px 2px;
  text-align: center;
}

.bottom-bezel {
  width: 900px;
  height: 30px;
  margin: 0 auto;
  background-color: #1E4F9F;
}
*/